ul li {
  list-style-type: none;
}
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
a {
  text-decoration: none !important;
}
/* page */
:root {
  --btn-color: rgb(136, 3, 92);
}
.navbar .active-link {
  border: 1px solid #fff;
  color: white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.coach-box {
  padding: 10px;
  margin: 10px 20px;
  border-radius: 12px;
  border: 2px solid rgb(80, 2, 133);
}
.coach-box-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
}
.coach-box-price {
  font-size: 1.4rem;
  font-weight: 600;
}
.coach-box a {
  margin: 5px;
  border-radius: 20px;
}
